.masthead_biography {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/ecrivain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  
  .masthead_biography h1 {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .masthead_biography h2 {
    max-width: 20rem;
    font-size: 1rem;
  }
  
  @media (min-width: 768px) {
    .masthead_biography h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  
  @media (min-width: 992px) {
    .masthead_biography {
      height: 100vh;
      padding: 0;
    }
    .masthead_biography h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    .masthead_biography h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }




#biographie img{
    display: flex;
    padding-top: 80px;
    padding-bottom: 35px;
    max-width: 100%;
    width: 100%;
}

#biographie{
    max-width: 100%;
}

#container{
  margin: 30px auto;
  padding: 30px;
}